.form{
    position:absolute;
    top:10px;
    left:-70px;
}

.title_input{
    width:500px;
    height:50px;
}

.desc_input{
    width:500px;
    height:399px;
}

.select_sports{
    width:500px;
    height:50px;
    margin:10px;
}

.cancel{
    margin-right:100px;
    font-size:x-large;
}

.pub_button{
    width:170px;
}