.header_logo{
    text-align:center;
    left:30%;
    top:-10px;
    position:absolute;
}

.reg{
    bottom:0px;
    display:flex;
    right:0px;
}

.reg_text{
    bottom:0px;
}

body{
    height:100%;
    width:100%;
    top:0%;
    display:flex;
    position:relative;
}

footer{
    position: fixed;
    bottom:0px;
    right:10px;
}

main{
    position:absolute;
    top:20%;
    left:41%;
    text-align:center;

}

.search_box{
    border-radius:20px;
    width:300%;
    height:300%;
}

.icon{
    height:50px;
    width:50px;
}
.header_logo img{
    width: 80%;
}

/* test */
html,body{
    height: 100%;/*高さを100%にして描画エリアをとる*/
  }
  
  #particles-js{ 
    position:fixed;/*描画固定*/
    z-index:-1;/*描画を一番下に*/
    width: 100%;
    height: 100%;
    background-color:#fafafa;/*背景色*/
  }
  