{% extends 'base.html' %}
{% block main %}
<!--新しい投稿-->
    <main>
        <div class="form">
            
            <form class="form" action="upload" method="post">
                <!-- <label for="title">何について</label> ラベルをつけるかはまだ検討中-->
                <div class="item">
                    <input type="text" name="title" placeholder="タイトル" required autofocus>
                </div>
                
                <!--ここの選択肢をどうするか-->
                <div class="item">
                    <select name="sport" required>
                        <option value="サッカー">サッカー</option>
                        <option value="テニス">テニス</option>
                        <option value="ゴルフ">ゴルフ</option>
                        <option value="バレー">バレー</option>
                    </select>
                </div>
                
                <div class="item">
                    <input type="text" name="content" placeholder="説明" required autofocus>
                </div>
                
                <button type="submit">投稿</button>
                
            </form>
            
        </div>
        
        <p><a href="/">トップページへ戻る</a></p>
    </main>
{% endblock %}