{% extends 'base.html' %}
{% block main %}
<!--新しい投稿-->
    <main>
        <div class="form">
            
            <form class="form" action="upload" method="post">
                <!-- <label for="title">何について</label> ラベルをつけるかはまだ検討中-->
                <div class="item">
                    <input class = "title_input" type="text" name="title" placeholder="タイトル" required autofocus>
                </div>
                
                <!--ここの選択肢をどうするか-->
                <div class="item">
                    <select class = "select_sports" name="sport" required>
                        <option value="">スポーツ名</option>
                    {% for sport in sports_name %}
                        <option value="{{ sport }}">{{ sport }}</option>
                    {% endfor %}
                        <option value="other">その他</option>
                    </select>
                </div>
                
                <div class="item">
                    <input class = "desc_input" type="text" name="content" placeholder="説明" required autofocus>
                </div>
                
                <p><a class = "cancel" href="/">トップページへ戻る</a><button class = "pub_button" type="submit">投稿</button></p>
                
            </form>
            
        </div>
        
    </main>
{% endblock %}