
<!doctype html>
<html>
    <head>
        <title>TEXPO</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='base.css') }}">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
    <header>

        <div class = "header_logo">
            <img src="./images/logo_jp.png"　alt = "logo_img" title = "headerlogo">
        </div>

        <hr>
    </header>    
{% block main %}
{% endblock %}
    <footer>
        <hr>
        <div><h5>ここはfooterです</h5></div>
    </footer>
    </body>
</html>