
<!doctype html>
<html>
    <head>
        <title>TEXPO</title>

        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='base.css') }}">
        
    </head>
    <body>
    <header>

        <div class = "header_logo">
            <img src="{{ url_for('static',filename='images/logo_jp.png') }}"　alt = "logo_img" title = "headerlogo">
        </div>

        <hr>
    </header>
{% block main %}
{% endblock %}
    <footer>
        <hr>
        <div><h5>ここはfooterです</h5></div>
    </footer>
    </body>
</html>