
<!doctype html>
<html>
    <head>
        <title>TEXPO</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='base.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='another.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <title>TEXPO</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='base.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='search.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/d1f067d451.js" crossorigin="anonymous"></script>
        <!--ブートストラップとアイコン関連のURLを勝手に追加しました。影響はないとおもわれます。 -->
    </head>
    <body>
    <header>
        <div class = "header_logo">
            <p><a href="/"><img src="{{ url_for('static',filename='images/logo_jp.png') }}" alt = "logo_img" title = "headerlogo"></a></p>
        </div>
    </header>
    
{% block main %}
{% endblock %}
    <footer>
        <div class="text-right">
            <a href="/another"><i class="fas fa-plus-circle mr-5" style="font-size: 40px; color:grey;"></i></a>
            <div class = "reg"><h5 class = "reg_text mb-0">Codegym_S2_JK<img class = "icon" src = "{{url_for('static',filename='images/icon.png')}}"></h5></div>
        </div>
    </footer>
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        function popupSetting(){
        let popup = document.getElementById('popup');
        if(!popup) return;

        let closeBtn = document.getElementById('close-btn');
        let showBtn = document.getElementById('1');

        // ポップアップ
        popUp(closeBtn);
        popUp(showBtn);

        // ポップアップ処理
        function popUp(elem){
            if(!elem) return;
        
            elem.addEventListener('click', function(){
            popup.classList.toggle('is-show');
            });
        }
        }

        // ポップアップのセッティング
        popupSetting();
    </script>
</html>